* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 4%;
    max-width: 960px;
}

/* -----------------------------------

----------------------------------- */

/*  */
